<app-banner 
    [bannerList]="bannerList"
></app-banner>
<app-deals 
    [deals]="deals"
></app-deals>
<app-personal-store></app-personal-store>
<app-product-slider 
    [sectionTitle]="section.sectionTitle"
    [productList]="section.productList"
    (cartEvent)="addCart()"
    (buyEvent)="buyNow()"
></app-product-slider>
<app-product-slider 
    [sectionTitle]="section.sectionTitle"
    [productList]="section.productList"
    (cartEvent)="addCart()"
    (buyEvent)="buyNow()"
></app-product-slider>
